@model LUISSample.Models.Question

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4" style="position:relative; margin-left: 400px;">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserQuestion, new { @class = "form-control", autofocus = "autofocus", placeholder = "How Can I help?"})
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>

    </script>
}

