@model LUISSample.Models.Question

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <div class="row">
        <iframe style="width:300px; height: 500px;" src='https://webchat.botframework.com/embed/conferenceroombookingbot?s=VUkr1QlCwGw.cwA.inQ.YbKUg9TMNTGrhNB-YLc30GrEv1FdpFcuqvql343aQrI'></iframe>
    </div>
</div>


