
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<base target="_blank">

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4" style="position:relative; margin-left: 400px;">
            <h1>Room Reservation</h1>
            <iframe style="height:500px; width:300px;" src="https://webchat.botframework.com/embed/mainmenuluisbot?s=-fKMPScOjVg.cwA.qi4.t4poBB8XMDCXYpmOZMhjRD6ehR_IJak8AOSIvoJ3tbs">               
            </iframe>
        </div>
    </div>
</div>
